body {
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.login-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login-header img {
    width: 100px;
}

.login-header h1 {
    color: rgb(121, 103, 103);
    font-size: 1.5em;
}

.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color: rgb(121, 103, 103);
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    padding: 15px;
}

.login-button {
    background-color: #ee665c;
    border-radius: 8px;
    color: #fff;
    padding: 15px;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
}

.login-button:hover {
    cursor: pointer;
    background-color: #ec5348;
}

.login-button:active {
    transform: scale(1.1);
}

.login-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
    transform: scale(1.0);
}

footer {
    text-align: center;
    color: rgb(121, 103, 103);
}

/*

body {
    background: rgba(0, 0, 0, 0.7) url('/imagem/fundo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

*/
